* {
    transition: 0.2s ease-in-out;
}

button {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Modal backdrop */
main {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    z-index: 400;
}

/* Modal content */
iframe {
    background: #ffffff00;
    border-radius: 10px;
    height: 95vh;;
    width: 50vw;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
    overflow: auto; /* Enables scrolling if content overflows */
}

iframe .root{
    background-color: red;
}


/* Show modal with animations */
main.show {
    opacity: 1;
    visibility: visible;
}

main.show iframe {
    transform: scale(1);
}

@media (max-width: 1000px) {
    iframe {
        width: 95vw;
    }
}